{
  "presets": [["@babel/preset-env", {
    "targets": {
        "node": "current"
      }
    }], "@babel/preset-stage-2"],
  "plugins": [
    "@babel/plugin-transform-new-target",
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
